.contFocus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  width: 165px;

  /* Background/White */

  background: #ffffff;
  /* Neutral/Light */

  border: 1px solid #dde4fa;
  box-sizing: border-box;
  border-radius: 5px;
}

.contBox {
  width: 100%;

  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: 165px 165px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.svg {
  width: 115px !important;
  height: 115px !important;
}

.text {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  margin-top: 16px;
  font-weight: 700;
}

@media (max-height: 740px) {
  .svg {
    width: 115px !important;
    height: 115px !important;
  }
  .contFocus {
    height: 200px;
    padding: 16px;
  }

  .contBox {
    grid-template-columns: 165px 165px;
  }

  .text {
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
    font-weight: 700;
  }
}

@media (max-height: 670px) {
  .svg {
    width: 115px !important;
    height: 115px !important;
  }
  .contFocus {
    height: 180px;
    padding: 16px;
  }

  .contBox {
    grid-template-columns: 165px 165px;
  }

  .text {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
    font-weight: 700;
  }
}

@media (max-height: 570px) {
  .svg {
    width: 115px !important;
    height: 115px !important;
  }
  .contFocus {
    height: 150px;
    width: 140px;
    padding: 16px;
  }

  .contBox {
    grid-template-columns: 140px 140px;
  }

  .text {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
    font-weight: 700;
  }
}
