.superHeader {
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    line-height: 20px;
    font-weight: 700;
  }
  
  .contSuperHeader {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
  }