.Header {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;

  display: flex;
  justify-content: center;

  z-index: 1000;
}

.contIcon {
  width: 100%;
}

.icon {
  margin: 8px auto;
}

.middle {
  margin: 8px 40px;
}
